@import "../../styles/app.scss";

.container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 2%;

  .image_container {
    width: 100%;
  }
}

.info {
  margin-top: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 45% 35% 8%;
  column-gap: 2%;
  justify-items: start;


  .ubi {
    border-right: 1px solid $second_pink;
    padding-right: 2rem;

    .departament {
      font-weight: 700;
      font-size: 1.1rem;
      color: $second_pink;
      margin-bottom: 0.3rem;
    }

    .address {
      font-weight: 500;
    }
  }

  .horario {
    margin-bottom: 0.3rem;
  }

  .bold {
    font-weight: 500;
    // margin-bottom: .2rem;
    // margin-top: .2rem;
  }

  .dias {
    font-size: 0.95rem;
  }

  span {
    font-weight: 500;
  }

  .single_donut_container {
    align-self: center;
  }
}
