@import "../../styles/app.scss";

.container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 2%;

  @media (max-width:480px) {
    grid-template-columns: 100%;
    row-gap: 1rem;
  }

  .image_container {
    width: 100%;
  }
}

