.total {
  text-align: center;
  font-weight: 700;

  @media (max-width: 600px) {
    display: none;

    > p {
      padding: 0.5rem;
      background-color: white;
      border-radius: 0.2rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
