@import "../../../styles/app.scss";

.container {
  display: grid;
  align-items: center;
  grid-template-columns: 85% 15%;

  @media (max-width: 600px) {
    display: block;
    // column-gap: 5%;
  }

  .cart {
    margin: 0.3rem 0rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: white;

    @media (max-width: 600px) {
      margin: 0.5rem 0;
      padding: 0.7rem;
    }

    .cart_flex {
      display: flex;
      align-items: center;

      @media (max-width: 600px) {
        display: block;
      }

      .name{
        font-weight: 500;
      }
    }

    .cart_item_single {
      display: flex;
      align-items: center;
      flex-grow: 10;

      .single_price {
        margin-left: auto;
        margin-right: 1rem;

        @media (max-width: 600px) {
          display: none;
        }
      }

      .single_total_price {
        display: none;

        @media (max-width: 600px) {
          display: block;
          font-weight: 600;
          margin-left: auto;
        }
      }
    }

    .cart_item_promo {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-grow: 10;
      flex-wrap: wrap;

      @media (max-width: 400px) {
        gap: 0.5rem;
      }

      .flex {
        display: flex;
        align-items: center;
        gap: 0.2rem;
      }

      button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.8rem;
        border: none;
        border-radius: 1rem;

        @media (max-width: 600px) {
          padding: 0.4rem;
          // margin-left: auto;
        }

        &:hover {
          cursor: pointer;
        }

        .donas_mobile {
          display: none;

          @media (max-width: 600px) {
            display: block;
          }
        }

        p {
          font-size: 0.7rem;
          font-weight: 600;
          &:first-child {
            @media (max-width: 600px) {
              display: none;
            }
          }
        }

        .arrow_icon {
          width: 15px;
          height: 15px;
        }
      }

      .promo_price {
        margin-left: auto;
        margin-right: 1rem;

        @media (max-width: 600px) {
          display: none;
        }
      }

      .promo_total_price {
        display: none;

        @media (max-width: 600px) {
          display: block;
          font-weight: 600;
          margin-left: auto;
        }
      }
    }

    .donuts_list {
      padding: 0.4rem;
      margin-left: 1rem;
      display: inline-block;
      border-left: 1px solid $main_pink;

      @media (max-width: 600px) {
        margin-top: 1rem;
        margin-left: 0rem;
      }
    }

    .qty_and_trash {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-left: auto;
      position: relative;

      @media (max-width: 600px) {
        margin-left: 0;
        margin-top: 0.5rem;
      }

      .stock_container {
        width: 75px;
        @media (max-width: 600px) {
          text-align: center;
          flex-grow: 2;
        }

        span {
          padding-right: 0.5rem;
          font-weight: 600;
        }
      }

      .trash_icon {
        color: $second_blue;
        width: 20px;
        height: 20px;

        @media (max-width: 600px) {
          width: 15px;
          height: 15px;
        }

        &:hover {
          cursor: pointer;
          color: $main_blue;
        }
      }
    }
  }
}
