@import "../../styles/app.scss";

@mixin inputForm {
  padding: 0.6rem;
  border: none;
  border: 1px solid white;
  box-shadow: rgba(182, 182, 182, 0.24) 0px 0px 4px 1px;
  border-radius: 0.2rem;

  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid $main_pink;
  }
}

.container {
  @include app_width;
  padding: 3rem 0;
  min-height: 400px;

  > p {
    margin-bottom: 2rem;
    font-weight: 700;
  }

  .phone_form {
    display: grid;
    grid-template-columns: 30% 30%;
    align-items: center;

    @media (max-width: 600px) {
      grid-template-columns: 50% 50%;
    }

    input {
      @include inputForm;
    }
  }

  .form {
    display: grid;
    grid-template-columns: 30% 30%;
    align-items: center;
    row-gap: 0.8rem;

    @media (max-width: 600px) {
      grid-template-columns: 50% 50%;
    }

    label, p{

      span{
        color: $second_pink;
      }
    }

    input {
      @include inputForm;
    }

    p {
      align-self: flex-start;
    }

    .payment_method {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;

      > div {
        display: flex;
        align-items: center;
      }

      input {
        margin-right: 0.5rem;
      }

      input[type="radio"]:checked {
        + label {
          // color: $second_blue;
          font-weight: 700;
        }
      }
    }

    .error {
      color: red;
      grid-column: 2;
    }
  }
}

.btn_container {
  grid-column: 2;
  margin-left: auto;

  button {
    width: 100%;
    margin-top: 1rem;

    border: none;
    border-radius: 0.2rem;
    background-color: $second_blue;
    color: white;
    padding: 0.5rem 2rem;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      background-color: $main_blue;
    }
  }
}
