@import "../../../styles/app.scss";

.container {
  margin-bottom: 3rem;

  .donuts_quantity_promo {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .six_donuts_promo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
