.ws {
  display: none;

  @media (max-width: 920px) {
    position: fixed;
    // position: absolute;
    z-index: 1;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #00d455;
    border-radius: 100%;
  }

  a {
    @media (max-width: 920px) {
      color: white;
    }
  }
}

.wsDesktop {
  position: fixed;
  // position: absolute;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #00d455;
  border-radius: 100%;
  transition: all .2s ease;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 15px 2px;
  }

  a {
    color: white;
  }
}
