@import "../../../styles/app.scss";

.table_titles_container {
  display: grid;
  grid-template-columns: 4% 96%;
  align-items: flex-start;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0rem 0.5rem;

  .table_titles {
    display: grid;
    grid-template-columns: 10% 22% repeat(4, 14%) 10% 2%;
  }
}


