@import "../../styles/app.scss";

.footer {
  background-color: #2e2f2f;

  > div {
    @include app_width;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
    padding: 2rem 0;
    color: #7d7d7d;

    @media (max-width: 480px) {
      grid-template-columns: 50% 50%;
    }

    .first_column {
      > div {
        margin-bottom: 1rem;
      }
    }

    .title {
      color: #b1b1b0;
      font-weight: 500;

      &:hover {
        cursor: auto;
      }
    }

    p {
      &:hover {
        cursor: pointer;
      }
    }

    .networks {
      margin-top: 0.5rem;
      display: flex;
      gap: 0.8rem;
    }

    .admin_link{
      margin-top: 1rem;
      text-decoration: underline;
    }
  }

  .facupelli {
    padding: 1rem 0;
    font-size: 0.8rem;
    border-top: 1px solid #7d7d7d;
    color: #7d7d7d;

    &:hover {
      color: $main_blue;
    }
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;

      a {
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
}
