@import "../../../../styles/app.scss";

.choose_rellena_card_container {
  padding: 1rem;

  .choose_rellena_card {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 25% 75%;
    row-gap: 0.2rem;

    @media (max-width:600px) {
      grid-template-columns: 65% 35%;
    }

    > p {
      margin-right: 1rem;
    }
  }
}
