@import "../../../styles/app.scss";

.single_donut {
  padding: 0 1rem;
  border-radius: 1rem;
  width: 350px;
  background-color: white;
  display: grid;
  grid-template-columns: 60% 15% 25%;
  align-items: center;

  .donut_name {
    padding: 0.5rem 0;
    flex-grow: 1;
    font-weight: 500;
    border-right: 1px solid $second_blue;
    // background-color: red;
  }

  .price {
      margin-left: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
  }

  .image_container {
    margin-left: auto;
  }
}
