@import "../../styles/app.scss";

.container {
  @include app_width;
  position: relative;
  min-height: 570px;

  @media (max-width: 480px) {
    height: 90vh;
  }

  .image {
    padding-top: 1.5rem;
    position: absolute;
    bottom: -4px;
    @media (max-width: 480px) {
      display: none;
    }
    // z-index: 1;
    // left: 0;
    // background-color: blue;
  }

  .image_phone {
    display: none;
    @media (max-width: 480px) {
      display: block;
      position: absolute;
      bottom: -4px;
    }
  }
}
