@import "../../styles/app.scss";

.container {
  @include app_width;
  position: relative;
  height: 90vh;

  .image {
    padding-top: 1.5rem;
    // z-index: 1;
    // position: absolute;
    // top: -100px;
    // left: 0;
    // background-color: transparent;
  }
}
