@import "../../styles/app.scss";

.container {
  background-color: #f1f1f0;
  .main {
    @include app_width(1200px);
    padding-top: 1rem;

    .cards_container {
      display: grid;
      grid-template-columns: 25% 69%;
      row-gap: 4%;
      column-gap: 5%;
      padding-bottom: 4rem;
    }

    .table_titles_container {
      display: grid;
      grid-template-columns: 2% 98%;
      align-items: flex-start;
      margin-bottom: 2rem;
      font-size: 0.9rem;

      .table_titles {
        display: grid;
        grid-template-columns: repeat(7, 14%);
      }
    }

    .orders_card_container {
      display: grid;
      grid-template-columns: 2% 98%;

      > div {
        display: grid;
        grid-template-columns: repeat(7, 14%);

        .date {
          display: flex;
        }
      }
    }
  }
}
