@import "../../styles/app.scss";

.container {
  background-color: #f1f1f0;
  min-height: 100vh;

  .main {
    @include app_width(1200px);
    padding-top: 1rem;

    .cards_container {
      display: grid;
      grid-template-columns: 25% 69%;
      row-gap: 4%;
      column-gap: 5%;
      padding-bottom: 4rem;
    }
  }
}
