@import "../../styles//app.scss";

.container {
  @include app_width;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .title {
    @include title;
  }

  >div{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    row-gap: 1rem;
    column-gap: 2%;
  }

 
}


