@import "../../styles//app.scss";

.container {
  @include app_width;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .title {
    @include title;
  }

  .six_donuts_promo{
      display: flex;
      gap: 2rem;
  }
}


