@import '../../../styles/app.scss';

.promo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    // background-color: $second_pink;
    background-color: white;
    
    .id{
        font-size: 3.5rem;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .price{
            text-align: center;
        }
    }
  
  }