@import "../../../styles/app.scss";

.nav {
  color: $second_blue;
  margin-bottom: 3rem;

  ul {
    display: flex;
    align-items: center;

    li {
      padding-top: 2rem;
      padding-bottom: 1rem;
      text-decoration: none;
      list-style: none;
      margin: 0;
      width: 100%;
      text-align: center;
      font-weight: 500;

      &:hover {
        cursor: pointer;
      }
    }

    .active {
      padding-top: 2rem;
      padding-bottom: 1rem;
      font-weight: 700;
      color: $second_pink;
      border-bottom: 2px solid $second_pink;
    }
  }
}
