@import "../../../../styles/app.scss";

.tick line {
  stroke: $second_pink;
}

.tick text {
  fill: #413e3c;
}

.mark {
  fill: $main_blue;
}

@media (max-width: 600px) {
  .svg {
    width: 550px;
  }
}

@media (max-width: 480px) {
  .svg {
    width: 430px;
  }
}

@media (max-width: 400px) {
  .svg {
    width: 350px;
  }
}

