@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

$karla: "Karla", sans-serif;
$main_pink: #ec5b9e;
$second_pink: #ee89b6;
$main_blue: #00b5ff;
$second_blue: #0081b7;

@mixin app_width($width: 1000px) {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 480px) {
    max-width: 350px;
  }

  @media (max-width: 380px) {
    max-width: 320px;
  }
}

@mixin title() {
  padding: 1rem 1.5rem;
  display: inline-block;
  box-shadow: 0 7px 13px rgb(0 0 0 / 7%);
  border-radius: 2rem;
  background-color: white;
  font-weight: 500;
  color: $main_pink;
}

@mixin noStock {
  color: rgb(255, 103, 43);
  font-size: 0.8rem;
  font-weight: 700;
}

@mixin modalArrowDown($width, $top, $left) {
  width: $width;
  position: absolute;
  z-index: 2;
  left: 40px;
  bottom: 45px;
  background-color: white;
  padding: 0.6rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  // @media (max-width: 600px) {
  //   left: 20px;
  //   bottom: 35px;
  // }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: $left;
    top: $top;
    border-top: 15px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}

@mixin select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 0.2rem;
  font-weight: 500;
  font-size: 1rem;
  background-color: white;

  &:active,
  &:focus {
    outline: none;
    border: 1px solid $main_pink;
  }
}
