.portrait {
  // background-color: red;
  background-image: linear-gradient(
    to bottom,
    #00b5ff,
    #00a8ed,
    #009bda,
    #008ec9,
    #0081b7
  );
}

.promos{
  background-color: #f1f1f0;
  padding-bottom: 8rem;
}
