@import "../styles/app.scss";

.relative {
  position: relative;
  font-family: $karla;

  .portrait {
    padding-top: 80px;
    // background-color: red;
    background-image: linear-gradient(
      to bottom,
      #00b5ff,
      #00a8ed,
      #009bda,
      #008ec9,
      #0081b7
    );
  }

  .main {
    position: relative;

    .promos {
      background-color: #f1f1f0;
      padding-bottom: 8rem;
    }
  }
}
