@import "../../../styles/app.scss";

.container {
  display: grid;
  align-items: center;
  grid-template-columns: 85% 15%;

  .cart_item_single {
    margin: 0.3rem;
    padding: .5rem 1rem;
    border-radius: .2rem;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 1rem;

    .price {
      margin-left: auto;
    }
  }
}
