@import "../../../styles/app.scss";

.container {
  display: grid;
  align-items: center;
  grid-template-columns: 85% 15%;

  @media (max-width: 600px) {
    display: block;
    // column-gap: 5%;
  }

  .cart_item_single {
    margin: 0.3rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    @media (max-width: 600px) {
    }

    .price {
      margin-left: auto;
    }

    .trash_icon {
      color: $second_blue;
      width: 20px;
      height: 20px;

      @media (max-width: 600px) {
        width: 15px;
        height: 15px;
      }

      &:hover {
        cursor: pointer;
        color: $main_blue;
      }
    }
  }
}
