@import "../../styles/app.scss";

.container {
  @include app_width;
  padding: 3rem 0 5rem 0;

  > p {
    font-weight: 800;
  }

  .info {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 2%;

    @media (max-width: 600px) {
      display: block;
    }

    .title {
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    .donas {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      background-color: white;
      padding: 1rem;
      border-radius: 0.2rem;
      box-shadow: rgba(99, 99, 99, 0.11) 0px 2px 8px 0px;

      @media (max-width: 600px) {
        margin-top: 1rem;
      }

      .donuts_list {
        display: flex;
        gap: 1em;
      }

      .total {
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 0.5rem;
      }
    }

    .customerData {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      background-color: white;
      padding: 1rem;
      border-radius: 0.2rem;
      box-shadow: rgba(99, 99, 99, 0.11) 0px 2px 8px 0px;

      > p {
        overflow: hidden;
        text-overflow: ellipsis;

        span {
          font-weight: 500;
          margin-right: 0.5rem;
        }
      }
    }
  }

  .pedir_btn_container {
    grid-column: 2;
    margin-top: 2rem;
    margin-left: auto;
    height: 100px;

    @media (max-width: 600px) {
      display: flex;
      justify-content: flex-end;
    }
  }
}

