@import "../../../../styles/app.scss";

.container {
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: white;

  .show_donuts_container {
    padding: 1rem 0rem;
    margin-left: 4%;

    .show_donuts {
      display: grid;
      grid-template-columns: 18% 20%;
      align-items: center;
      //   gap: 1rem;
      margin-bottom: 0.2rem;

      .donut_name {
        font-weight: 400;
      }

      .qty {
        font-weight: 600;
      }
    }
  }
}

.orders_card_container {
  display: grid;
  grid-template-columns: 4% 96%;

  .id {
    font-weight: 800;
    align-self: center;
  }

  .child_padding {
    padding: 0 0.5rem;
  }

  > div {
    display: grid;
    grid-template-columns: 10% 22% repeat(4, 14%) 10% 2%;
    align-items: center;

    .date {
      display: flex;
      gap: 0.5rem;
    }

    .angle_icon {
      width: 15px;
      height: 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.bold_500 {
  font-weight: 500;
}
