@import "../../../../styles/app.scss";

.container {
  padding: 0.8rem;
  margin: 1rem 0;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 5px 0px;

  .show_donuts_container {
    padding: 1rem 0rem 0rem 0rem;
    margin-left: 4%;
    display: flex;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    > div {
      flex-grow: 3;
    }

    .choosed_donuts {
      padding-top: .2rem;
      padding-left: 1rem;
      font-size: 0.8rem;

      > p {
        font-weight: 600;
      }

      > div {
        font-size: 0.9rem;
        margin-top: 0.2rem;
        padding-left: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        span{
          margin-left: .5rem;
          font-weight: 600;
        }
      }
    }

    .order_date {
      align-self: flex-end;
      display: flex;
      gap: 0.5rem;
      justify-content: flex-end;
      margin-right: 0.8rem;
      font-size: 0.85rem;

      @media (max-width: 600px) {
        align-self: center;
        margin-top: 0.5rem;
        margin-right: 0rem;
      }

      > p {
        font-size: 0.8rem;
        font-weight: 600;
      }

      .date {
        display: flex;
        gap: 0.5rem;

        @media (max-width: 600px) {
          // font-weight: 600;
          font-size: 0.9rem;
          color: $second_blue;
        }
      }
    }

    .show_donuts {
      display: grid;
      grid-template-columns: 35% 50%;
      align-items: center;
      margin-bottom: 0.2rem;

      @media (max-width: 600px) {
        display: flex;
        gap: 1rem;
        justify-content: center;
        text-align: left;
      }

      .donut_name {
        font-weight: 400;
      }

      .qty {
        font-weight: 600;
      }
    }
  }
}

.orders_card_container {
  display: grid;
  grid-template-columns: 4% 96%;
  padding-bottom: 0.5rem;
  border-bottom: rgb(223, 223, 223) 1px solid;

  @media (max-width: 600px) {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .id {
    font-weight: 800;
    align-self: center;
  }

  .child_padding {
    padding: 0 0.5rem;
  }

  > div {
    display: grid;
    grid-template-columns: 10% 22% repeat(2, 14%) 38% 2%;
    align-items: center;

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
    }

    .angle_icon {
      width: 15px;
      height: 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.total_price {
  font-weight: 500;

  @media (max-width: 600px) {
    font-size: 1.1rem;
    border-bottom: 2px solid $second_pink;
    // background-color: $second_pink;
    // padding: .2rem;
  }
}

.approved {
  color: #06d6a0;
  font-weight: 500;
  display: flex;
}

.pending {
  color: #d10000;
  font-weight: 500;
  display: flex;
}

.info_mobile {
  display: none;

  @media (max-width: 600px) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    row-gap: 0.5rem;
    width: 100%;
  }

  .title_mobile {
    font-size: 0.7rem;
    font-weight: 600;
  }
}

.info_pc {
  display: grid;
  grid-template-columns: 36.8% 36.8% 26.31%;

  @media (max-width: 600px) {
    display: none;
  }
}
