@import "../../../../styles/app.scss";

.stock_by_unit {
  select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 0.2rem;
    font-weight: 500;
    font-size: 1rem;
    background-color: white;

    &:active,
    &:focus {
      outline: none;
      border: 1px solid $main_pink;
    }
  }

  .loading_btn_container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    > p {
      font-weight: 600;
      color: $second_blue;
    }
  }
}
