@import "../../../../styles/app.scss";

.stock_by_unit {
  select {
    @include select;
  }

  .loading_btn_container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    > p {
      font-weight: 600;
      color: $second_blue;
    }
  }
}
