@import "../../styles/app.scss";

.container {
  background-color: #f1f1f0;

  .main {
    @include app_width;
    padding: 4rem 0;
    position: relative;

    .titles {
      display: grid;
      grid-template-columns: 85% 15%;
      margin-bottom: 1rem;

      > p {
        text-align: center;
        font-weight: 600;
        @media (max-width: 600px) {
          text-align: left;
          padding-left: .5rem;
        }
      }

      .total_title {
        @media (max-width: 600px) {
          display: none;
        }
      }
    }

    .cart_empty {
      font-weight: 600;
    }

    .total_container {
      margin-top: 1rem;
      padding-top: 1rem;
      display: grid;
      grid-template-columns: 85% 15%;
      border-top: 1px solid $second_blue;

      @media (max-width: 600px) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;
      }

      > p {
        &:first-child {
          margin-left: auto;
          padding: 0 0.2rem;
          font-weight: 700;
        }
      }

      .total {
        text-align: center;
        font-weight: 700;
        font-size: 1.3rem;
      }

      .pagar_btn_container_pc {
        grid-column: 2;
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        @media (max-width: 600px) {
          display: none;
        }

        button {
          width: 75%;
          border: none;
          border-radius: 1rem;
          background-color: $second_blue;
          color: white;
          padding: 0.7rem;
          font-weight: 700;
          font-size: 1rem;

          &:hover {
            cursor: pointer;
            background-color: $main_blue;
          }
        }
      }
    }

    .pagar_btn_container_mobile {
      display: none;
      @media (max-width: 600px) {
        display: block;
        margin-top: 2rem;
        display: flex;
        justify-content: flex-end;
      }

      button {
        @media (max-width: 600px) {
          width: 50%;
          border: none;
          border-radius: 1rem;
          background-color: $second_blue;
          color: white;
          padding: 0.7rem;
          font-weight: 700;
          font-size: 1rem;

          &:hover {
            cursor: pointer;
            background-color: $main_blue;
          }
        }
      }
    }
  }
}
