@import "../../styles/app.scss";

.container {
  background-color: #f1f1f0;

  .main {
    @include app_width;
    padding: 2rem 0;

    .instructions {
      p {
        font-weight: 700;
      }

      display: flex;
      align-items: center;

      button {
        margin-left: auto;

        padding: 0.8rem;
        font-size: 0.7rem;
        border-radius: 1rem;
        border: none;
        background-color: $second_blue;
        color: white;
        font-weight: 700;

        &:hover {
          cursor: pointer;
          background-color: $main_blue;
        }
      }
    }

    .products_container {
      display: grid;
      grid-template-columns: 50% 50%;
      justify-items: center;

      @media (max-width: 600px) {
        display: block;
      }

      .promos_title_pc {
        @media (max-width: 600px) {
          display: none;
        }
      }

      .promos_title_mobile {
        display: none;
        @media (max-width: 600px) {
          display: block;
        }
      }

      > p {
        margin: 3rem 0 1rem 0;
        font-weight: 800;
      }

      .single_donuts {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        > span {
          font-weight: 600;
          margin: 1rem 0;
          text-align: center;
        }
      }
    }
  }
}
